azure-core==1.38.3
azure-storage-blob==12.19.1
blinker==1.9.0
cachelib==0.13.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.3.1
colorama==0.4.6
cryptography==43.0.3
Flask==2.3.3
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.3.2
gunicorn==21.2.0
idna==3.11
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
msal==1.26.0
msgspec==0.20.0
packaging==26.0
pycparser==3.0
PyJWT==2.12.1
pyodbc==5.1.0
python-dotenv==1.0.1
requests==2.32.5
SQLAlchemy==2.0.48
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.6
WTForms==3.1.2
